// breakpoints

$bp-md:768px;
$bp-lg: 1200px;

// colors

$background-header-primary: #10BBD5;
$background-header-secondary: #FFF;

$background-card-button: #4C394E;
$background-card-button-active: #4D762D;
$card-text-price: #E90000;
$card-text-old-price: #8E8E8E;
$card-text-author: #8E8E8E;
$header-text-primary: #F8FDFE;

$background-footer: #4C394E;

