@import "../abstracts/variables";

.footer {
    display: flex;
    padding: 32px 52px;
    background-color: $background-footer;
    justify-content: space-between;
}

.footer__text {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}