@import "../abstracts/variables";

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header__logo-cart-items {
    display: flex;
    justify-content: space-between;
    background-color: $background-header-primary;
    padding: 16px 52px;
    align-items: center;
}

.header__logo {
    color: $header-text-primary;
    font-size: 24px;
    font-weight: 700;
}

.header__cart {
    display: flex;
    gap: 8px;
    align-items: center;

    & span {
        color: $header-text-primary;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    & button {
        height: 40px;
        background-color: #10BBD5;
        border: none;
        padding: 0;
    }
}

.header__cart-button-container { 
    position: relative;

    & span {
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px; 
    }
}

.header__amount-items-cart {
    position: absolute;
    top: 8.67px;
    right: 10.58px;
    padding: 3.33px 3.42px;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 52px;
    z-index: 99;
    background-color: $background-header-secondary;

    & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
    }
}

.menu-content__list {
    display: flex;
    gap: 40px;

    & a {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}