@import "../abstracts/variables";

.main-section {
    margin: 104px 52px 0;
    padding-bottom: 120px;
}

.main-section__title {
    margin-bottom: 24px;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600; 
    line-height: 40px;
    padding: 36px 0 23px;
    border-bottom: 1px solid #A8A8A8;  
}

.main-section__cards-container {
    display: flex;
    height: 1625px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto; 
}

.main-section__card {
    display: flex;
    border: 1px solid #8E8E8E;
    flex-direction: column;
    background-color: #ffff;
    padding: 32px;
    width: 306px;
    height: 512px;
    box-sizing: border-box;
    gap: 16px;
    align-items: center;
    position: relative;

    & button {
        border-radius: 4px;
        background: #4C394E;
        padding: 8px 24px;
        align-self: stretch;
        color: #F8FDFE;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;  
    }

    & .main-section__name-author-price-container {
        align-self: flex-start;
        }
}

.main-section__card-link-container {

    & img {
    width: 178px;
    height: 280px;
    }
}

// .main-section__card {

    
// }

.main-section__card-name {
    overflow: hidden;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    border-bottom: 1px solid grey;
    width: 242px;
    height: 31px;
}

.main-section__card-author {
    overflow: hidden;
    color: $card-text-author;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    margin-bottom: 8px;
}

.main-section__card-price-container {
    display: flex;
    gap: 24px;
    align-items: center;
    color: $card-text-price;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; 
}

.main-section__card-old-price {
    color: $card-text-old-price;
    text-decoration: line-through;
}

.main-section__card-chips-container {
    display: flex;
    gap: 4px;
    position: absolute;
    top: 32px;
    left: 32px;

    & span {
        color: #F8FDFE; 
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; 
        border-radius: 5px;
        padding: 4px 8px;
    }
}

.main-section__card-chips {
    border-radius: 4px;
    background: #4200FF;
    padding: 4px 8px;
    align-items: center;
    gap: 10px;
}

.main-section__new-chips {
    background: #AF39E7
}

.main-section__card-chips-promotion {
    color: #F8FDFE;
    text-align: center;
    background: #EA33C0
}

.main-section__card-button {
    
    &.main-section__pre-purchased-product {
    background: #4D762D
    }
}

.main-section__chat-icon {
    position: absolute;  
    top: 700px; 
    right: 36px; 
    border-radius: 50px;
    height: 64px;
    width: 64px;
    background-color: #10BBD5;

    & path {
        fill: white;  
    }
} 
